* {
	margin:0;
	padding:0;
}

body {
	font: 14px/1.3 'Open Sans', sans-serif;
	color: #5e5b64;
	text-align:center;
}

a, a:visited {
	outline: none;
	color:#389dc1;
}

a:hover {
	text-decoration:none;
}

section, footer, header, aside, nav{
	display: block;
}

/*-------------------------
	Меню
--------------------------*/

nav {
	display: block;
	margin: 60px auto 45px;
	background-color: #5597b4;
	box-shadow: 0 1px 1px #ccc;
	border-radius: 2px;
}

#example {
	width: 600px;
}

body {
	display: flex;
	justify-content: center;
}

.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.item:not(:last-child) {
	margin-bottom: 20px;
}

.item__number {
	flex-basis: 50px;
	width: 50px;
	list-style-position: inside;
}

.item__image {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: cadetblue;
	line-height: 50px;
	font-size: 22px;
	font-weight: bold;
	flex-basis: 50px;
}

.item__description {
	text-align: left;
	flex-basis: 400px;
	width: 400px;
}

.item__title {
	font-weight: bold;
}

.item__age {
	color: #707070
}

.item__rating {
	flex-basis: 50px;
	width: 50px;
}

.sortable a {
	cursor: pointer;
}

[data-checked='age'] .age {
	color: black;
	font-weight: bold;
}

[data-checked='rating'] .rating {
	color: black;
	font-weight: bold;
}

.search {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 5px;;
}

.search__icon {
	display: block;
	background-image: url(../image/loop.png);
	width: 35px;
	height: 35px;
	background-position: center center;
	background-color: transparent;
	background-size: cover;
	border: 0;
	outline: 0;
	margin-left: 10px;
}

.search__input {
	height: 20px;
	width: 200px;
	transition: all .3s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
	transform: translateX(35px);
	opacity: 0;
}
