%link-hover {
	color: $mainTextColor;
	text-decoration: none;
}

.answer {
	margin: -20px;
	padding: 20px;

	&__title {
		margin-bottom: 15px;

		a {
			font-weight: bold;
			font-size: 20px;
			line-height: 30px;
			color: $mainTextColor;

			&:focus {
				@extend %link-hover;
			}

			&:hover {
				@extend %link-hover;
			}
		}
	}

	&:not(:last-child) {
		margin-bottom: 20px;
		border-bottom: 1px solid $outlineColor;
	}
}
