$acrticleItemPriority: #658bf2;

.help-article {

	&__title {
		font-weight: bold;
		font-size: 20px;
		line-height: 30px;
		color: $mainTextColor;
		margin-bottom: 15px;
	}

	&__link {
		font-size: 14px;
		line-height: 20px;
		color: $mainTextColor;
		text-decoration: none;

		&:hover {
			color: $mainTextColor;
		}

		&:focus {
			color: $mainTextColor;
		}
	}

	&__item {
		position: relative;
		padding-left: 15px;

		&:not(:last-child) {
			margin-bottom: 15px;
		}

		&--priority {

			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				transform: translateY(-50%);
				background-color: $acrticleItemPriority;
			}
		}
	}
}
