@import './search';

.help-banner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 150px;
	padding: 28px 20px;
	margin-bottom: 20px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(/image/responsive/pages/help-center/help-banner.jpg);

	&__text {
		height: 40px;
		line-height: 40px;
		font-weight: bold;
		font-size: 40px;
		color: $whiteColor;
		text-align: center;

		@include mq(phone) {
			font-size: 24px;
		}
	}
}
