$acrticleItemPriority: #658bf2;

%faq-title-icon {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 29px;
	margin-right: 12px;
}

.help-faq {
	padding: 20px 40px;

	@include mq(phone) {
		padding: 20px;
	}

	&__title {
		border-radius: 5px 5px 0 0;
		margin: -20px -40px 20px;
		padding: 10px 40px;
		height: 50px;
		line-height: 30px;
		text-align: left;
		background-color: $acrticleItemPriority;

		@include mq(phone) {
			margin: -20px -20px 10px;
		}

		&-text {
			display: inline-block;
			vertical-align: middle;
			line-height: 30px;
			font-weight: bold;
			font-size: 20px;
			color: $whiteColor;

			&--faq {
				&::before {
					@extend %faq-title-icon;
					background-image: url(/image/responsive/pages/help-center/faq.svg);
				}
			}

			&--recommended {
				&::before {
					@extend %faq-title-icon;
					background-image: url(/image/responsive/pages/help-center/recommended.svg);
				}
			}
		}
	}

	&__link {
		color: $mainTextColor;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			color: $mainTextColor;
		}
	}

	&__item {

		&:not(:last-child) {
			margin-bottom: 18px;
		}
	}

	&__column {
		padding: 0 5px;

		&:last-child {
			padding-right: 0;
		}

		&:first-child {
			padding-left: 0;
		}

		&:not(:last-child) {
			@include mq(phone) {
				margin-bottom: 18px;
			}
		}
	}

	&__content {
		display: flex;

		@include mq(phone) {
			flex-direction: column;
		}
	}
}
