@import 'css/responsive/_mixins';

.rate-ask {
	display: flex;
	clear: both;

	&__title {
		margin-right: 20px;

		@include mq(phone) {
			margin-right: 10px;
		}
	}

	&__link {

		&:not(:last-child) {
			margin-right: 20px;

			@include mq(phone) {
				margin-right: 10px;
			}
		}
	}

	&__rate {
		white-space: nowrap;
	}
}

.explain {

	&__row {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__textarea {
		resize: none;
		width: 560px;
		height: 72px;
	}

	&__text {
		margin-bottom: 10px;
	}
}
