.help-search {
	max-width: 700px;
	width: 100%;
	display: flex;
	position: relative;

	&__input {
		height: 40px;
		width: 100%;
		padding: 0 10px;
		outline: 0;
		border: 0;
		border-radius: 0;

		&:focus {
			border: 0;
			outline: 0;
		}
	}

	&__button {
		border-radius: 0 2px 2px 0;
		height: 40px;
	}

	&__autocomplete {
		display: none;
		position: absolute;
		width: 100%;
		top: 40px;
		z-index: z(site-footer);
		background-color: $bgContentBlockColor;
		box-shadow: 2px 5px 7px rgba(0, 0, 0, .25);
		border-radius: 0 0 5px 5px;
		border-top: 1px solid $blackColor;
	}

	&__autocomplete-answer-title {
		font-weight: bold;
		font-size: 16px;
		color: $mainTextColor;
	}

	&__helper-list {
		list-style: none;
		margin: 0;
		padding: 20px;

		&--delimeter {
			border-top: 1px solid $outlineColor;
		}
	}

	&__autocomplete-answer {
		margin: 20px;
	}

	&__helper-item {
		font-size: 14px;
		line-height: 20px;

		&:not(:last-child) {
			margin-bottom: 15px;
		}

		a {
			font-size: 14px;
			color: $colorTextAdditive;
		}
	}

	&__autocomplete-answer-rate {
		display: flex;
		margin-bottom: 20px;
	}

	&__autocomplete-link {
		margin-right: 20px;
	}

	&__autocomplete-title {
		margin-right: 20px;
	}
}
