%sections-link-hover {
	color: $mainTextColor;
	text-decoration: underline;
}

.help-sections {
	$this: &;
	margin-top: 20px;

	&:nth-child(2) {
		@include mq(phone, min) {
			margin-top: 0;
		}
	}

	&:first-child {
		margin-top: 0;
	}

	&__item {
		border: 1px solid $outlineColor;
		border-radius: 5px;
		padding: 20px;
		min-height: 217px;
	}

	&__section {
		display: flex;
		margin-bottom: 17px;
	}

	&__title {
		display: inline-flex;
		flex-direction: column;
		height: 48px;
		vertical-align: middle;
		justify-content: flex-start;
		overflow: hidden;
		width: 100%;
		max-width: calc(100% - 68px);
		flex-basis: calc(100% - 68px);
	}

	&__title-image {
		margin-right: 20px;
		flex-basis: 48px;
		width: 48px;
	}

	&__title-description {
		font-size: 14px;
		line-height: 20px;
		color: $colorTextAdditive;
		white-space: nowrap;
	}

	&__title-link {
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		color: $mainTextColor;
		max-height: 48px;

		&:focus {
			@extend %link-hover;
		}

		&:hover {
			@extend %sections-link-hover;
		}
	}

	&__subsections-link {
		font-size: 14px;
		line-height: 20px;
		color: $mainTextColor;
		height: 20px;
		white-space: nowrap;

		&:focus {
			@extend %link-hover;
		}

		&:hover {
			@extend %sections-link-hover;
		}
	}

	&__subsections-item {
		margin-bottom: 10px;
		overflow: hidden;
		height: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
