%link-hover {
	color: $mainTextColor;
	text-decoration: none;
}

.help-sidebar {

	&__item {
		height: auto;
		line-height: 21px;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__link {
		font-size: 14px;
		color: $mainTextColor;

		&--select {
			font-weight: bold;
		}

		&:focus {
			text-decoration: none;
		}

		&:hover {
			color: $mainTextColor;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 16px;
		line-height: 20px;
		color: $mainTextColor;
		margin-bottom: 15px;

		&-link {
			color: $mainTextColor;
			font-weight: bold;

			&:focus {
				@extend %link-hover;
			}

			&:hover {
				@extend %link-hover;
			}
		}
	}
}
