////
/// Copyright (c) 2019 - present, Livemaster, LLC.
////

@import 'css/responsive/base';

@import 'css/responsive/_mixins';
@import 'css/responsive/mixins/_variables';
@import 'css/responsive/mixins/_object-fit-image';
@import 'css/responsive/elements/_block';
@import 'css/responsive/elements/_breadcrumbs';
@import 'css/responsive/elements/_community-links';
@import 'css/responsive/elements/_not-elems-stub';
@import 'css/responsive/elements/filters/_dropdown';
@import 'css/responsive/elements/filters/_filters-unit';
@import 'css/responsive/elements/_pagebar';
@import 'css/responsive/mixins/_variables';

@import './banner';
@import './faq';
@import './sections';
@import './sidebar';
@import './article';
@import './plug';
@import './answer';

.help-title {
	margin: 0 0 20px;
	line-height: 24px;
	font-weight: bold;
	font-size: 24px;
	color: $mainTextColor;
}

.help-content {

	img {
		max-width: calc(100vw - 60px);
		overflow: hidden;
	}
}

.help-center {

	&__row {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}

.mobile-pagination {
	margin: 0;
}
