<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="manifest" href="manifest.json">
		<link rel="stylesheet" href="./css/index.css">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Тестовое задание VUE</title>
	</head>

	<body>
		<div id="example">
			<nav>
				<search-input v-bind:show="showSearch" v-model="searchString"></search-input>
			</nav>

			<header>
				<h1>Рейтинг участников</h1>
				<sortable
					v-bind:data-checked="checkedFilter"
				></sorteble>
			</header>
			
			<section>
				<app-content 
					v-for="(item, index) in sortedList"
					v-bind:todo="item"
					v-bind:index="index"
					v-bind:key="item.id"
				></app-content>
			</section>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="./js/index.js"></script>
	</body>
</html>
